.AppLogo {
    font-family: "Allerta Stencil", SansSerif !important;
}

.card {
    width: 50%;
    height: 130px;
    font-family: "Times New Roman", Times, serif !important;
}

.card .WriteContent {
    font-family: "Times New Roman", Times, serif !important;
    position: relative;
    color: gainsboro;
}

.CardContent .WriteContent:after {
    content: '';
    position: absolute;
    width: 2px !important;
    height: 35px;
    background: #2c3e50;
    left: 0px;
    top: 10px;
    animation: animated-text 0.5s infinite;
}

/* text animation */

@keyframes animated-text {
    from {
        width: 25px;
        background: red
    }
    to {
        width: 25px;
        background: blue
    }
}
